@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-area="" asp-controller="Home" asp-action="SendEmailDefault">Отправить сообщение через System.Net.Mail</a>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="SendEmailCustom">Отправить сообщение через MailKit</a>
</div>
